Repository changhyu/maintenance-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maintenance-monorepo/core-team, @maintenance-monorepo/frontend-team, @maintenance-monorepo/ui-team, @maintenance-monorepo/backend-team, @maintenance-monorepo/type-maintainers, @maintenance-monorepo/qa-team, @maintenance-monorepo/senior-backend-team, @maintenance-monorepo/database-team, @maintenance-monorepo/security-team, @maintenance-monorepo/devops-team, @maintenance-monorepo/docs-team

fix: React 19 및 @testing-library/react 호환성 문제 해결 및 CI 설정 개선
  .github/workflows/ci.yml
  .github/workflows/monorepo-build.yml
  .gitignore
  package-lock.json
  package.json
  packages/frontend/package.json
  packages/frontend/src/components/common/DateRangePicker.tsx
  packages/frontend/src/components/common/ErrorBoundary.tsx
  packages/frontend/src/components/layout/Header.tsx
  packages/frontend/tsconfig.json
  packages/frontend/tsconfig.local.json
  packages/frontend/vite.config.js
Owners: @maintenance-monorepo/devops-team, @maintenance-monorepo/security-team, @maintenance-monorepo/core-team, @maintenance-monorepo/frontend-team, @maintenance-monorepo/ui-team

Initial commit
  README.md
Owners: @maintenance-monorepo/docs-team

fix: dependency-cruiser 명령어 옵션 수정 (--output → --output-to)
  .github/workflows/monorepo-build.yml
Owners: @maintenance-monorepo/devops-team, @maintenance-monorepo/security-team

fix: SonarQube 스캔 단계를 조건부로 실행하도록 수정
  .github/workflows/ci.yml
Owners: @maintenance-monorepo/devops-team, @maintenance-monorepo/security-team

설정 파일 업데이트: Docker 구성 및 환경 설정 파일 수정
  .env.example
  .eslintrc.js
  .gitignore
  docker-compose.prod.yml
  docker-compose.yml
Owners: @maintenance-monorepo/core-team, @maintenance-monorepo/frontend-team, @maintenance-monorepo/devops-team

설정 변경: Docker 구성 및 환경 설정 파일 업데이트
  .env.db
  .env.docs
  .env.gateway
  .env.ml
  .env.mobile
  Dockerfile.api
  Dockerfile.frontend
Owners: @maintenance-monorepo/core-team, @maintenance-monorepo/devops-team

설정 업데이트: GitHub 워크플로우, Docker 설정 및 TypeScript 구성 파일 수정
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/commit-template.md
  .github/dependabot.yml
  .github/security-exceptions.json
  .github/workflows/build-and-test.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/container-security-scan.yml
  .github/workflows/database-migration.yml
  .github/workflows/deploy-automation.yml
  .github/workflows/docker-security-scan.yml
  .github/workflows/security-checks.yml
  .github/workflows/security-patching.yml
  .github/workflows/security-scan-improved.yml
  .github/workflows/security-scan.yml
  docker/README.md
  docker/grafana/provisioning/dashboards/dashboard.yml
  docker/grafana/provisioning/dashboards/maintenance-services-dashboard.json
  docker/grafana/provisioning/dashboards/maintenance-system-overview.json
  docker/grafana/provisioning/datasources/datasource.yml
  docker/nginx/env.sh
  docker/nginx/frontend.conf
  docker/postgres/init.sql
  docker/prometheus/prometheus.yml
  docker/promtail/promtail-config.yml
  tsconfig.json
  tsconfig.node.json
Owners: @maintenance-monorepo/core-team, @maintenance-monorepo/security-team, @maintenance-monorepo/devops-team, @maintenance-monorepo/frontend-team

문서 업데이트: 프로젝트 문서, 코드 품질 가이드 및 PR 요약 추가
  CODE_QUALITY.md
  PR_SUMMARY.md
  README-optimize.md
  docs/api_migration_guide.md
  docs/architecture.md
  docs/deployment.md
  docs/docker-infrastructure.md
  docs/git_api_migration.md
  docs/git_service_python_api.md
  docs/monitoring.md
  docs/setup.md
Owners: @maintenance-monorepo/docs-team

문서 추가: 프로젝트 문서, API 마이그레이션 가이드 및 코드 품질 표준 문서
  PR_SUMMARY_GITSERVICE_OBJECT_METHODS.md
Owners: @maintenance-monorepo/docs-team

정리: 불필요한 백업 파일 및 중복 코드 제거
  .eslintrc.js.bak
  1c203463317d90133a59aaef0f890b284ef82353c980f183e3dae88b50afb31d.tar.gz
  CNAME.backup
  Dockerfile.api.dev
  Dockerfile.frontend.dev
  IMPROVEMENTS.md
  PROJECT_STRUCTURE.md
  UPDATE_SUMMARY.md
  backup_20250413_111400/check_db_connection.sh
  backup_20250413_111400/main.py
  components/IntegratedDashboard.tsx
  components/OfflineNotice.tsx
  components/ScrDashboard.tsx
  components/ScrDataDashboard.tsx
  components/Todo.tsx
  components/TodoAuthWrapper.tsx
  docker-compose.api.yml
  docker-compose.db.yml
  docker-compose.dev.yml
  docker-compose.frontend.yml
  docker-compose.test.yml
  packages/frontend/.eslintrc.js
  run.sh
  run_tests.py
  scripts/build-test.sh
  scripts/setup.sh
  setup_improvements.sh
  tests/conftest.py
  tests/integration/test_auth_api.py
  tests/integration/test_todo_api.py
Owners: @maintenance-monorepo/core-team, @maintenance-monorepo/frontend-team, @maintenance-monorepo/devops-team, @maintenance-monorepo/docs-team

개발 환경 설정: 린팅, 테스트 및 빌드 도구 설정 파일 추가
  .npmrc
  .pre-commit-config.yaml
  .prettierrc.js
  .pylintrc
  .sourcery.yaml
  babel.config.js
  jest.config.js
  jest.setup.js
  package-lock.json
  vitest.config.ts
  vitest.setup.ts
Owners: @maintenance-monorepo/core-team, @maintenance-monorepo/frontend-team

설정: .gitignore 파일 업데이트로 불필요한 파일 제외
  .gitignore
Owners: @maintenance-monorepo/core-team

배포 설정: Docker 파일 및 설정 추가
  docker-security/docker-scan.sh
  docker-security/secure-docker-build.sh
  docker-security/secure-docker-setup.sh
Owners: @maintenance-monorepo/core-team

환경 설정: Python 의존성 및 린트 설정 추가
  mypy.ini
  requirements-dev.txt
  requirements-internal.txt
  requirements-public.txt
Owners: @maintenance-monorepo/core-team

fix: add node polyfills and update build config for Vercel
  package-lock.json
Owners: @maintenance-monorepo/core-team

Your commit message describing the changes
  packages/frontend/src/utils/apiTesting.js
Owners: @maintenance-monorepo/frontend-team

정비 데이터 분석 백엔드 연동 계획 상세화: API 명세, 테스트 계획, 구현 전략 추가
  backend/core/logging.py
  server-side-pagination-implementation.md
  src/components/maintenance/MaintenanceFilters.tsx
  src/components/tables/MaintenanceTable.tsx
  src/hooks/useMaintenances.ts
  src/pages/MaintenanceListPage.tsx
  src/services/maintenanceService.ts
  src/types/maintenance.ts
  src/utils/debounce.ts
  src/utils/errorHandling.ts
  정비_데이터_분석_백엔드_연동_구현_계획.md
Owners: @maintenance-monorepo/core-team, @maintenance-monorepo/docs-team

.github/CODEOWNERS:

# 코드 소유권 정의 파일
# 자세한 정보: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# 이 파일의 우선순위는 아래에서 위 방향으로 적용됩니다.
# 더 구체적인 규칙이 더 일반적인 규칙보다 우선합니다.

# 기본 소유자 - 모든 파일에 적용됨
* @maintenance-monorepo/core-team

#----------------------------------------------------------------------
# 프론트엔드 관련
#----------------------------------------------------------------------
/packages/frontend/                       @maintenance-monorepo/frontend-team
/packages/frontend/src/components/        @maintenance-monorepo/ui-team
/packages/frontend/src/hooks/             @maintenance-monorepo/frontend-team
/packages/frontend/src/context/           @maintenance-monorepo/frontend-team
/packages/frontend/src/services/          @maintenance-monorepo/frontend-team @maintenance-monorepo/backend-team
/packages/frontend/src/types/             @maintenance-monorepo/frontend-team @maintenance-monorepo/type-maintainers
/packages/frontend/src/utils/             @maintenance-monorepo/frontend-team

# 테스트 코드
/packages/frontend/tests/                 @maintenance-monorepo/qa-team @maintenance-monorepo/frontend-team
/packages/frontend/__tests__/             @maintenance-monorepo/qa-team @maintenance-monorepo/frontend-team

#----------------------------------------------------------------------
# 백엔드 관련
#----------------------------------------------------------------------
/packages/api/                            @maintenance-monorepo/backend-team
/packages/api/src/core/                   @maintenance-monorepo/senior-backend-team
/packages/api/src/database/               @maintenance-monorepo/database-team
/packages/api/src/auth/                   @maintenance-monorepo/security-team
/packages/api/src/core/security/          @maintenance-monorepo/security-team
/packages/api/tests/                      @maintenance-monorepo/qa-team @maintenance-monorepo/backend-team

#----------------------------------------------------------------------
# 공통 관련
#----------------------------------------------------------------------
/packages/shared/                         @maintenance-monorepo/core-team

#----------------------------------------------------------------------
# 인프라 & 배포 관련
#----------------------------------------------------------------------
/docker/                                  @maintenance-monorepo/devops-team
/Dockerfile*                              @maintenance-monorepo/devops-team
/docker-compose*.yml                      @maintenance-monorepo/devops-team
/.github/workflows/                       @maintenance-monorepo/devops-team @maintenance-monorepo/security-team
/scripts/                                 @maintenance-monorepo/devops-team
/.husky/                                  @maintenance-monorepo/devops-team

#----------------------------------------------------------------------
# 문서 관련
#----------------------------------------------------------------------
/docs/                                    @maintenance-monorepo/docs-team
/*.md                                     @maintenance-monorepo/docs-team
/packages/*/README.md                     @maintenance-monorepo/docs-team

#----------------------------------------------------------------------
# 보안 관련
#----------------------------------------------------------------------
/packages/security/                       @maintenance-monorepo/security-team
/.github/security-exceptions.json         @maintenance-monorepo/security-team

#----------------------------------------------------------------------
# 프로젝트 설정 파일
#----------------------------------------------------------------------
/package.json                             @maintenance-monorepo/core-team
/package-lock.json                        @maintenance-monorepo/core-team
/tsconfig.json                            @maintenance-monorepo/core-team @maintenance-monorepo/frontend-team
/.gitignore                               @maintenance-monorepo/core-team
/.eslintrc*                               @maintenance-monorepo/core-team @maintenance-monorepo/frontend-team
/.prettierrc*                             @maintenance-monorepo/core-team @maintenance-monorepo/frontend-team
